<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				        http://www.springframework.org/schema/beans/spring-beans.xsd
				        http://code.alibabatech.com/schema/dubbo
				        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
				        http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd 
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="logAspect" class="com.mi360.aladdin.mall.aspect.LogAspect"></bean>
	
	<aop:config>
		<aop:aspect ref="logAspect">
			<aop:around method="around" pointcut="execution(public * com.mi360.aladdin.mall.controller..*.*(..))"/>
		</aop:aspect>
	</aop:config>

	<import resource="classpath:dubbo.xml" />
	<import resource="classpath:spring-mvc.xml" />
	
	
	<!-- dataSource -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${druid.driverClassName}"/>
		<property name="url" value="${druid.url}"/>
		<property name="username" value="${druid.username}"/>
		<property name="password" value="${druid.password}"/>
	</bean>
	
	<!-- mybatis mapper接口 所在的包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mi360.aladdin.mall.mapper"/>
	</bean>
	
	<!-- mybatis sqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="com.mi360.aladdin.mall.domain"/>
		<property name="mapperLocations" value="classpath*:com/mi360/aladdin/mall/mapper/*Mapper.xml"/>
	</bean>
	
	

</beans>
